.productimage{
    width:152px;
    height: 190px;
}
.parent-container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
    
    
    
}
.product-display-info:hover{
border:2px solid var(--linkname);
}
