
.navyaNav{
  background-color: var(--navbackground);

}
.navbar {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
}

.nav-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  top: 0;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
}


.nav-links {
  color: var(--navbarcolor);
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  background-color: var(--navbackground);
  color: var(--navbarcolor);
}

.select-option {
  color: var(--navbarcolor);
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border: 1px solid var(--navbackground);
  background-color: var(--navbackground);
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
}

.nav-item:hover:after {
  width: 100%;
}

.nav-icon {
  display: none;
}
/* sub-nav */
.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
}

.logo {
  position: relative;
}

.starLogo {
  padding: 0 20px 0;
  max-width: 180px;
}


.header-textbox {
  border: 1px solid black;
  height: 2rem;
  box-sizing: border-box;
  padding: 2px 10px;
  font-size: 15px;
  border-radius: 2px;
}

.header-search {
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}
.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
}


@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;

    position: absolute;
    top: 50px;
    left: -110%;
    opacity: 1;
  }

  .nav-menu.active {
    background: var(--navbackground);
    left: 0px;
    opacity: 1;
    z-index: 1;
  }
  .nav-item .active {
    color: var(--menutextcolor);
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
  }
  .select-option {
    padding: 1.5rem;
    margin: auto;
    border: 1px solid var(--navbackground);
    background-color: var(--navbackground);
    color: var(--navbarcolor);
  }
  .nav-icon {
    display: block;
    position: absolute;
    top: -12px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--menutextcolor);
  }
  .header-content {
    max-width: 280px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
   
  
  }
  .header-textbox{
    margin-left: 28px;
  }
}
