.container-parent {
  display: flex;
  width: 50%;
  padding: 10px 0px 40px 7%;
}
.container{
  padding-bottom: 15px;
}
.container-footer {
  display: flex;
  background-color: var(--secondnavbarbackgroundcolor);
  color: var(--secondnavbarcolor);
}
.input-field {
  display: flex;
  padding-left: 25%;
  padding-top: 20px;
}
.list-element {
  list-style: none;
  padding: 5px;
  cursor: pointer;
}
.list-element:hover {
  text-decoration: underline;
}
.link {
  text-decoration: none;
  color: var(--secondnavbarcolor);
}
.select-different {
  border: none;
  color: var(--secondnavbarcolor);
  background-color: #f0f0f0;
  font-weight: 500;
 
  margin-top: 30px;
}
.input-field {
  width: 40%;
}
.input-inner {
  width: 220px;
  height: 31px;
  padding: 0px 4px 0px 4px;
}
.email_button {
  height: 35px;
  width: 98px;
  background-color: var(--buttonbackgroundcolor);
  border: 1px solid var(--buttonbackgroundcolor);
  color: var(--navbarcolor);
  cursor: pointer;
}
.menu-one-class{
  padding-right: 90px;
}

@media  (min-width:320px) and (max-width:480px) {
    .container-parent {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
    }
    .container-footer {
        display: flex;
        flex-direction: column-reverse;
    }
    .input-field {
        display: flex;
        justify-content: center;
        width: 94%;
        padding: 20px 12px 20px 12px;
        background-color: var(--navbarcolor);
    
    }
    .select-different {
        width: 48%;
        margin-top: 0px;
    }
    li:hover {
        text-decoration: underline;
      }
}
@media  (min-width:481px) and (max-width:768px) {
    .container-parent {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
    }
    .container-footer {
        display: flex;
        flex-direction: column-reverse;
    }
    .input-field {
        display: flex;
        justify-content: center;
        width: 96%;
        padding: 20px 12px 20px 12px;
        background-color: var(--navbarcolor);
    
    }
    .select-different {
        width: 48%;
        margin-top: 0px;
    }
    li:hover {
        text-decoration: underline;
      }
}
@media  (min-width:769px) and (max-width:940px) {
  .container-parent{
    padding: 0px 0px 0px 10px;
  }
  .input-field{
    padding-left: 10%;
  }
}
