@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
  margin:0;
  padding:0;
  /* width:100%; */
  font-family:'Open Sans';
  font-size: 14px;
}
:root{
  --navbackground:#6e716e;
  --navbarcolor:#ffffff;
  --searchbarbackground:#ffffff;
  --searchbarcolor:#757575;
  --secondnavbarbackgroundcolor:#f0f0f0;
  --secondnavbarcolor:#575757;
  --linkcolor:#006bb4;
  --linkname:#707070;
  --bodytext:#333333;
  --pricecolor:#575757;
  --buttonbackgroundcolor:#1979c3;
  --addcartbuttoncolor:#ffffff;
  --addtolistcolor:#666666;
  --menubodycolor:#6d6d6d;
  --menutextcolor:#333333;
  --footerbackgroundcolor:#f4f4f4;
  --footertextcolor:#575757;
  --footerserachbuttonbackgroundcolor:#1979c3;


}